<div class="message">
  <div class="upper-message">
    <div class="chat-main-username">
      <%= message.user.name %>

    </div>
    <div class="chat-main-date">
      <%= l message.created_at %>

    </div>
  </div>
  <div class="chat-main-low">
    <div class="chat-main-comment">
      <%= message.content %>

    </div>
  </div>
</div>