<div class="side-header">
  <div class="side-user">
     <a href="#">Tom</a>
  </div>
  <div class="side-sub">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="side-main">
  <div class="side-room">
     <div class="side-room-name">
     <a href=#>techroom1</a>
     </div>
  </div>
  <div class="side-room">
     <div class="side-room-name">
     <a href=#>techroom2</a>
     </div>
  </div>
</div>